.THIS.listp::after {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% + 3em);
  font-weight: bold;
  font-size: 19px;
}

.THIS.economicp::after {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% + 3em);
  font-weight: bold;
  font-size: 19px;
}

.THIS.spins::after {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% + 3em);
  font-weight: bold;
  font-size: 19px;
}

.THIS.spinarce::after {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% + 3em);
  font-weight: bold;
  font-size: 19px;
}

.THIS.spinupdate::after {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% + 3em);
  font-weight: bold;
  font-size: 19px;
}

.THIS.persistance::after {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% + 3em);
  font-weight: bold;
  font-size: 19px;
}

.THIS.sector::after {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% + 3em);
  font-weight: bold;
  font-size: 19px;
}

.THIS.spintriage::after {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% + 3em);
  font-weight: bold;
  font-size: 19px;
}

.THIS.slds-spinner_container {
  background-color: rgb(255, 255, 255);
  margin-top: 140px;
  margin-bottom: 140px;
}