<template>
    <div class="slds-scrollable">
        <div class="slds-box">
            <lightning-card>
                <template if:false={hideTitle}>
                    <h3 slot="title">
                        {title}
                    </h3>
                </template>
                <template if:true={loaded} class="slds-p-around_medium lgc-bg slds-scrollable">
                    <template if:false={error}>
                        <lightning-tree-grid data={gridData} columns={gridColumns} key-field={keyField}
                            hide-checkbox-column="true" expanded-rows={gridExpandedRows}>
                        </lightning-tree-grid>
                    </template>
                    <template if:true={empty}>
                        <div class="slds-illustration slds-illustration_small">
                            <div class="slds-text-longform">
                                <p class="slds-text-body_large">No se han encontrado registros.</p>
                            </div>
                        </div>
                    </template>
                    <template if:true={error}>
                        <div class="slds-grid slds-grid_align-center">
                            <div class="slds-illustration slds-illustration_small">
                                <div class="slds-illustration__svg">
                                    <lightning-icon icon-name="utility:error" size="large" alternative-text="Error!"
                                        variant="error">
                                    </lightning-icon>
                                </div>
                                <div class="slds-text-longform">
                                    <h3 class="slds-text-heading_medium">Error</h3>
                                    <p class="slds-text-body_regular">Comuniquese con su adminitrador</p>
                                </div>
                            </div>
                        </div>
                    </template>
                </template>
                <template if:false={loaded}>
                    <lightning-spinner alternative-text="Loading"></lightning-spinner>
                </template>
            </lightning-card>
        </div>
    </div>
</template>