<template>
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
        aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
        <div class="slds-modal__container">
            <!--HEADER-->
            <header class="slds-modal__header">
                <lightning-button-icon icon-name="utility:close" alternative-text="Close" class="slds-modal__close"
                    onclick={handleCloseModal}>
                </lightning-button-icon>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{title}</h2>
            </header>
            <!--CONTENT-->
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <!--VIEW-->
                <template if:true={mode.isView}>
                    <lightning-record-form record-id={recordId} object-api-name={sobjectType} layout-type="Full"
                        columns="2" mode="readonly">
                    </lightning-record-form>
                </template>
                <!--CREATE-->
                <template if:true={mode.isInsert}>
                    <lightning-record-edit-form object-api-name={sobjectType}>
                        <lightning-messages></lightning-messages>
                        <lightning-layout multiple-rows>
                            <template for:each={sObjFields} for:item="fieldItem">
                                <lightning-layout-item key={fieldItem.name} size="12" small-device-size="12"
                                    medium-device-size="12" large-device-size="6" padding="horizontal-medium">
                                        <lightning-input-field field-name={fieldItem.fieldName} value={fieldItem.value} required={fieldItem.required}>
                                        </lightning-input-field>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </lightning-record-edit-form>
                </template>
                <!--EDIT-->
                <template if:true={mode.isUpdate}>
                    <lightning-record-edit-form record-id={recordId} object-api-name={sobjectType}>
                        <lightning-layout multiple-rows>
                            <template for:each={sObjFields} for:item="fieldItem">
                                <lightning-layout-item key={fieldItem} size="12" small-device-size="12"
                                    medium-device-size="12" large-device-size="6" padding="horizontal-medium">
                                        <lightning-input-field key={fieldItem.fieldName} field-name={fieldItem.fieldName} value={fieldItem.value} required={fieldItem.required}>
                                        </lightning-input-field>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </lightning-record-edit-form>
                </template>
                <!--DELETE-->
                <template if:true={mode.isDelete}>
                   <div class="slds-text-align_center" >
                        <h5>{label.deleteMessage}</h5>
                    </div>
                </template>
            </div>
            <!--FOOTER-->
            <footer class="slds-modal__footer">
                <lightning-button label={label.btnCancel} title="Primary action" class="slds-button slds-m-left_x-small" onclick={handleCloseModal}>
                </lightning-button>
                <!--CREATE-->
                <template if:true={mode.isInsert}>
                    <lightning-button variant="brand" label={label.btnSave} title="Primary action"
                        class="slds-button slds-m-left_x-small" onclick={handleCreateBtn}>
                    </lightning-button>
                </template>
                <!--UPDATE-->
                <template if:true={mode.isUpdate}>
                    <lightning-button variant="brand" label={label.btnSave} title="Primary action"
                        class="slds-button slds-m-left_x-small" onclick={handleUpdateBtn}>
                    </lightning-button>
                </template>
                <!--DELETE-->
                <template if:true={mode.isDelete}>
                    <lightning-button variant="brand" label={label.btnDelete} title="Delete Action"
                        class="slds-button slds-m-left_x-small" onclick={handleDeleteBtn}>
                    </lightning-button>
                </template>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>